h3 mat-icon { vertical-align: top; margin-top: 1px; }
.multirow > span { display: block; margin: 4px 0; }
.horibar { 
    width: 0;
    height: 15px; 
    text-align: right; 
    color: #fff; 
    margin: 2px 0; 
    font-size: 11px; 
    line-height: 15px; 
    padding-right: 5px; 
    transition: width 1.5s;
}
.width175 { width: 175px; }
.width200 { width: 200px; }