<mat-card>
    <h3 class="text-uppercase" [marginBottom]="0">
        Trips Purposes
        <mat-icon class="material-icons grayblue-color">notifications</mat-icon>
    </h3>
    <span class="font14">Last updated 5 min ago</span>
    <!-- Table -->
    <workspace-tripurposesgrid
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns"
        [enTable]="enTable"
    ></workspace-tripurposesgrid
        >
    <section fxLayout="row" [marginTop]="25" class="puposePieChart">
        <!-- Pie Chart -->
        <workspace-piepurpose-chart *ngIf="commutePieResult" [commutePieResult]="commutePieResult" fxFlex="100"></workspace-piepurpose-chart>
    </section>
</mat-card>
