::ng-deep .policyWrap {
    .highcharts-container {
        margin: 0 auto;
    }
    .policyhead {
        position: relative;
        margin-top: -92px;
        margin-bottom: 70px;
        z-index: 1;
    }
    .clrcode {
        width: 10px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
    }
}