:host { margin-bottom: 25px; display: block; }
h3 {
    font-size: 22px;
    mat-icon { vertical-align: top; margin-top: -1px; }
}
.licenseSus {
    h2 { font-size: 24px; }
    .rightborder {
        // border-right: 2px solid #eee;
    }
}
.botborder { display: block; height: 6px; }

::ng-deep .policyWrap {
    .highcharts-container {
        margin: 0 auto;
    }
    .policyhead {
        position: relative;
        margin-top: -92px;
        margin-bottom: 70px;
        z-index: 1;
    }
    .clrcode {
        width: 10px;
        height: 20px;
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
    }
}

::ng-deep .violationGrid {
    th.mat-header-cell, 
    td.mat-cell, 
    td.mat-footer-cell {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .mat-raised-button {
        line-height: 26px;
        padding: 0 10px;
        font-size: 12px;
        border-radius: 4px;
    }
    .done {
        padding-left: 5px;
        padding-right: 5px;
        color: #fff;
    }
}