<mat-card>
    <h3 class="text-uppercase" [marginBottom]="0">
        Violations
        <mat-icon class="material-icons grayblue-color">notifications</mat-icon>
    </h3>

    <!-- License Suspensions -->
    <workspace-licensesuspension
        [licenseArr]="licenseArr"
        [enTable]="enTable"
    ></workspace-licensesuspension>
    <!-- ./License Suspensions -->

    <!-- Policy -->
    <workspace-policydonuts
        [policyArr]="policyArr"
        [policyOrigArr]="policyOrigArr"
        [licenseArr]="licenseArr"
    >        
    </workspace-policydonuts>
    <!-- ./Policy -->

    <!-- PolicyViolations -->
    <workspace-policygrid
        *ngIf="voilationArr"
        [voilationArr]="voilationArr"
        [displayedColumns]="displayedColumns"
        [enTable]="enTable"
    >
    </workspace-policygrid>
    <!-- ./PolicyViolations -->

</mat-card>