.loginwrap { margin-top: 10%; }
.logo-login > img { max-width: 250px; }
.loginbg { background: url('/assets/bg2.jpg') no-repeat left top / cover; }
.loginright { padding: 50px 0 70px; }
.mat-raised-button { padding: 5px 16px; font-size: 21px; }