<mat-card>
    <h3 class="text-uppercase" [marginBottom]="0">
        Encounters
        <mat-icon class="material-icons grayblue-color">notifications</mat-icon>
    </h3>
    <span class="font14">Last updated 5 min ago</span>

    <section fxLayout="row wrap" fxLayoutAlign="start start">

        <!-- Encounter Chart -->
        <workspace-encounter-chart
            *ngIf="enctrChart"
            [enctrChart]="enctrChart"
            fxFlex="calc(60 - 325px)"
        >
        </workspace-encounter-chart>
        <!-- ./Encounter Chart -->

        <!-- Modes -->
        <workspace-enctrmodespie
            fxFlex="325px"
            *ngIf="encntrPieResult"
            [encntrPieResult]=encntrPieResult
        ></workspace-enctrmodespie>
        <!-- ./Modes -->

        <!-- Ped Insights -->
        <h3 fxFlex="100">Pedestrians Insights</h3>
        <workspace-enctrped-insights fxFlex="100" class="ridersInsights" fxLayout="column" fxLayoutGap="20px"
            [encounters]="encounters"
        ></workspace-enctrped-insights>
        <!-- ./Ped Insights -->

        <!-- Ped Insights Grid -->
        <workspace-enctrpedgrid
            fxFlex="100"
            *ngIf="pedInsightArr"
            [pedInsightArr]="pedInsightArr"
            [displayedColumns]="displayedColumns"
            [enTable]="enTable"
        ></workspace-enctrpedgrid>
    <!-- ./Ped Insights Grid -->

    </section>
</mat-card>