.ridersInsights {
    mat-icon {
        vertical-align: top;
        margin-top: -2px;
    }
    .riderInfo { width: 20px; height: 20px; font-size: 14px; }
    .locationio { 
        margin-top: -5px;
    }
}