<section fxLayout="row" fxLayoutAlign="space-between start" [marginTop]="25" [marginBottom]="25">
    <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <mat-chip-list>
            <mat-chip color="accent" selected>Project dashboard</mat-chip>
        </mat-chip-list>
        <button mat-icon-button><mat-icon class="material-icons grayblue-color">add_circle_outline</mat-icon></button>
    </section>
    <section fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" class="grayblue-color">
        <button mat-icon-button><mat-icon class="material-icons">refresh</mat-icon></button>
        <button mat-icon-button><mat-icon class="material-icons">ondemand_video</mat-icon></button>
        <button mat-icon-button><mat-icon class="material-icons">markunread</mat-icon></button>
    </section>
</section>