.tripPurposeGrid ::ng-deep {
    td.mat-cell { padding-top: 5px; padding-bottom: 5px; }
}
.multirow > span { display: block; margin: 5px 0; }
.horibar { 
    width: 0;
    height: 15px; 
    text-align: right; 
    color: #fff; 
    margin: 4px 0; 
    font-size: 11px; 
    line-height: 15px; 
    padding-right: 5px; 
    transition: width 1.5s;
}

.w-125 { width: 125px; }