::ng-deep .violationGrid {
    th.mat-header-cell, 
    td.mat-cell, 
    td.mat-footer-cell {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .mat-raised-button {
        line-height: 26px;
        padding: 0 10px;
        font-size: 12px;
        border-radius: 4px;
    }
    .done {
        padding-left: 5px;
        padding-right: 5px;
        color: #fff;
    }
}