<section fxFlex="99" fxFlexOffset="1">
    <workspace-dashboard-bar></workspace-dashboard-bar>
    <section fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="15px">
        <section fxFlex="calc(50% - 15px)">
            <workspace-trips></workspace-trips>
            <workspace-trip-purposes></workspace-trip-purposes>
            <workspace-encounters></workspace-encounters>
        </section>
        <section fxFlex="calc(50% - 15px)">
            <workspace-fleet></workspace-fleet>
            <workspace-violations></workspace-violations>
        </section>
        <!-- Ingestion -->
        <workspace-ingestion></workspace-ingestion>
        <!-- ./Ingestion -->
    </section>
</section>
