<section fxFlex="150px" class="maintainfabbtns">
    <h3 class="text-uppercase" [marginTop]="0" [marginBottom]="35" class="font17 nowrap">Maintenance Cadence</h3>
    <div fxLayout="row wrap" fxLayoutAlign="center start" class="text-center">
        <div fxFlex="50">
            <div class="calwrap">
                <mat-form-field class="calWithNoInput">
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <button mat-fab color="primary" (click)="picker1.open()">
                    <mat-icon>date_range</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="50">
            <div class="calwrap">
                <mat-form-field class="calWithNoInput">
                    <input matInput [matDatepicker]="picker2">
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <button mat-fab color="accent" (click)="picker2.open()">
                    <mat-icon>date_range</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="50">
            <div class="calwrap">
                <mat-form-field class="calWithNoInput">
                    <input matInput [matDatepicker]="picker3">
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <button mat-fab color="warn" (click)="picker3.open()">
                    <mat-icon>date_range</mat-icon>
                </button>
            </div>
        </div>
        <div fxFlex="50">
            <div class="calwrap">
                <mat-form-field class="calWithNoInput">
                    <input matInput [matDatepicker]="picker4">
                    <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>

                <button mat-fab color="primary" (click)="picker4.open()">
                    <mat-icon>date_range</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>