:host { margin-bottom: 25px; display: block; }
h3 {
    font-size: 22px;
    mat-icon { vertical-align: top; margin-top: -1px; }
}
.puposePieChart {
    .modepiewrap {
        margin-top: 0;
    }
}

.utili ::ng-deep {
    display: block;
    max-height: 225px;
    h3 { margin-left: 40px; }
}
.splitCol { bottom: -25px; position: relative; }
.colhopr { text-align: center; position: relative; top: -25px; }
::ng-deep.fleetGrid tbody tr td:first-of-type { 
    text-align: left;
    span {
        margin-top: 10px;
        display: block;
    }
    mat-icon {
        margin-top: 0px;
        vertical-align: top;
        font-size: 14px;
        margin-right: 0;
        width: 15px;
    }
 }

::ng-deep .densityGrid {
    tr.mat-header-row {
        height: 25px;
    }
    .mat-cell, .mat-footer-cell {
        font-size: 12px;
        text-transform: uppercase;
     }
}