<mat-card>
    <h3 class="text-uppercase" [marginBottom]="0">
        Fleet
        <mat-icon class="material-icons grayblue-color">notifications</mat-icon>
    </h3>
    <span class="font14">Last updated 5 min ago</span>
    <!-- Fleet -->
    <workspace-fleetcircles
        *ngIf="fleetInsightsArr"
        [fleetInsightsArr]="fleetInsightsArr"
    ></workspace-fleetcircles
        >
    <!-- ./Fleet -->
    <section class="puposePieChart" fxLayout="row" fxLayoutAlign="start start">
        <section fxFlex="40">
            <!-- Modes -->
            <h3 class="text-uppercase pos-rel zIndex">Modes</h3>
            <div class="modepiewrap">
                <workspace-modespie
                    *ngIf="commutePieResult"
                    [commutePieResult]="commutePieResult"
                ></workspace-modespie>
            </div>
        </section>
        <!-- ./ Modes-->
        <!-- Utilization -->
        <section fxFlex="60" class="utili">
            <h3 class="text-uppercase">Utilization</h3>
            <workspace-tripchart
                *ngIf="chartData"
                [chartData]="chartData"
            ></workspace-tripchart>
        </section>
        <!-- ./Utilization -->
    </section>
    <!-- Fleet Grid -->
    <workspace-fleetgrid
        [fleetGridData]="fleetGridData"
        [displayColumns]="displayColumns"
        [enTable]="enTable"
    ></workspace-fleetgrid
        >
    <!-- ./Fleet Grid -->

    <section [marginTop]="35"  class="densityGrid" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <!-- GRID -->
        <workspace-densitygrid fxFlex
            [desnityDataSource]="desnityDataSource"
            [displayedColumns]="displayedColumns"
        ></workspace-densitygrid>
          <!-- ./GRID -->
          <!-- Maintenance -->
          <workspace-maintenance
          ></workspace-maintenance
            >
          <!-- ./Maintenance -->
    </section>
</mat-card>
