.licenseSus {
    h2 { font-size: 24px; }
    .rightborder {
        // border-right: 2px solid #eee;
    }
}
.botborder { display: block; height: 6px; }
h3 {
    font-size: 22px;
    mat-icon { vertical-align: top; margin-top: -1px; }
}