<section class="licenseSus" fxLayout="row wrap" fxLayoutAlign="start start">
    <ng-container *ngFor="let item of licenseArr | keyvalue; index as i">
        <ng-container *ngFor="let it of item.value | keyvalue" >
            <div *ngIf="it.key === 'LicenseSuspension'" fxFlex="33" class="text-center rightborder">
                <h3 [marginBottom]="10" translate>{{enTable}}.{{it.key}}</h3>
                <h4 [marginTop]="0" [marginBottom]="0">Category:
                    <span [ngClass]="{'color-blue': it.value.Category ==='TEMPORARY'}">{{it.value.Category}}</span>
                </h4>
                <h2
                    [mdePopoverTriggerFor]="licensePopover"
                    mdePopoverTriggerOn="click"
                    class="pointer"
                    [ngClass]="{
                        'color-lime': item.value.OperatorName.toLowerCase() === 'lime',
                        'color-bird': item.value.OperatorName.toLowerCase() === 'bird',
                        'color-casual': item.value.OperatorName.toLowerCase() === 'hopr'
                    }">{{item.value.OperatorName}}
                    <span class="material-icons">info</span>
                </h2>
                <p>{{it.value.DaysLeft}} of {{it.value.TotalDays}} left</p>
                <span class="botborder"
                    [ngClass]="{
                        'bg-lime': item.value.OperatorName.toLowerCase() === 'lime',
                        'bg-bird': item.value.OperatorName.toLowerCase() === 'bird',
                        'bg-casual': item.value.OperatorName.toLowerCase() === 'hopr'
                    }"
                ></span>
            </div>

            <!-- Operator Related Insights -->
            <mde-popover #licensePopover="mdePopover"
                [mdePopoverOverlapTrigger]="false"
                [mdePopoverCloseOnClick]="true"
                [mdePopoverOffsetX]="-16"
                [mdePopoverOffsetY]="-10"
                [mdePopoverArrowOffsetX]="58"
                mdePopoverArrowColor="#FFFFFF"
            >
                <mat-card class="insights-card mat-elevation-z8">
                    <mat-card-content>
                        <h3 [marginBottom]="10">Related insights</h3>
                        <div *ngFor="let item of it.value.RelatedInsight">
                            <mat-divider></mat-divider>
                            <h2>{{item.Subject}}</h2>
                            <p>{{item.Description}}</p>
                            <div fxLayout="row" fxLayoutAlign="space-between start" [marginBottom]="10">
                                <span *ngIf="item.DateTime" class="dtime">
                                    {{today | date }}
                                </span>
                                <span *ngIf="item.IsEscalated === 0;">
                                    <button
                                        mat-raised-button
                                        mat-button
                                        color="primary"
                                        class="text-uppercase small-btn btn-green"
                                    >Escalate</button>
                                </span>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mde-popover>
            <!-- ./Operator Related Insights -->
        </ng-container>
    </ng-container>
</section>