<mat-card>
    <h3 class="text-uppercase" [marginBottom]="0">
        Trips
        <mat-icon class="material-icons grayblue-color">notifications</mat-icon>
    </h3>
    <span class="font14">Last updated 5 min ago</span>
    <!-- Chart -->
    <section fxLayout="row wrap" [marginTop]="30" [marginBottom]="30" class="chartwrap pos-rel">
        <div fxFlex="65">
            <workspace-tripchart 
                *ngIf="chartData" 
                [chartData]="chartData"
            ></workspace-tripchart>
        </div>
        <h3 fxFlex class="totaltrips grayblue-color" [marginTop]="50">4861<span>Total Trips</span></h3>
    </section>
    <!-- Table -->
    <workspace-tripsgrid
        [tripGridData]="tripGridData"
        [displayColumns]="displayColumns"
        [enTable]="enTable"
    ></workspace-tripsgrid>
</mat-card>