:host { margin-bottom: 25px; display: block; }
h3 mat-icon { vertical-align: top; margin-top: 1px; }
.chartwrap {
height: 200px;
    ::ng-deep .chart-legend {
        position: absolute;
        right: 0;
        bottom: 30%;
        .legend-title {
            display: none;
        }
    }
}
.totaltrips { position: absolute; right: 0; top: 0; font-size: 34px; font-weight: bold; min-width: 170px;
    text-align: center;
    span { font-size: 14px; text-transform: uppercase; font-weight: normal; display: block; }
}
.hoprtr { display: block; }
.doublecol { border-top: 1px solid rgba(0, 0, 0, 0.05); margin-left: -10px; margin-right: -10px; }