<mat-card>
    <h3 class="text-uppercase" [marginBottom]="0">
        Trips
        <mat-icon class="material-icons grayblue-color">notifications</mat-icon>
    </h3>
    <span class="font14">Last updated 5 min ago</span>
    <!-- Chart -->
    <section fxLayout="row wrap" [marginTop]="30" [marginBottom]="30" class="chartwrap pos-rel">
        <div fxFlex="65">
            <ngx-charts-line-chart
                [scheme]="colorScheme"
                [legend]="legend"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [timeline]="timeline"
                [results]="chartData"
                [autoScale]="'true'"
                [curve] ="curve"
                [legendPosition]="'right'"
            >
            </ngx-charts-line-chart>
        </div>
        <h3 fxFlex class="totaltrips grayblue-color" [marginTop]="50">4861<span>Total Trips</span></h3>
    </section>
    <!-- Table -->
    <section fxLayout="row">
        <table mat-table [dataSource]="displayData" matSort class="mat-elevation-z8 text-center tripGrid" fxFlex="100">
            <ng-container 
                [matColumnDef]="column" 
                *ngFor="let column of displayColumns; index as i; first as isFirst">
                <th mat-header-cell *matHeaderCellDef
                [attr.rowspan]="column !== 'members' && column !== 'casual' ? 2 : 1"
                [ngClass]="{'splitCol': column === 'members' || column === 'casual', 'zeroCol': column === '0'}"
                class="text-center">
                    <mat-icon 
                        *ngIf="column !== '0'"
                        [ngClass]="{
                            'color-lime': column === 'lime',
                            'color-bird': column === 'bird',
                            'color-members': column === 'members',
                            'color-casual': column === 'casual'
                        }"
                        class="material-icons">
                        fiber_manual_record
                    </mat-icon>
                    {{ column }}
                </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="isFirst; else nontranslate" translate> {{enTable}}.{{ element[column] }}</span>
                    <ng-template #nontranslate> {{ element[column] }} </ng-template>
                </td>
            </ng-container>
            <!-- HOPR Column -->
            <ng-container matColumnDef="hopr">
                <th mat-header-cell *matHeaderCellDef colspan="2" class="colhopr"> HOPR </th>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-header-row *matHeaderRowDef="['hopr']"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
    </section>
</mat-card>